<!-- <span id="notice"><%= notice %></span> -->
<section role='main'>

    <header class='user-header'></header>

    <section class='achievements'></section>

    <!-- 
    <p>Large goals vs small(quick) ones?</p>
    <p>+ 5 points for completing</p>
    <p>+ 5 points per 'event' <- indicating ongoing (+ 5 points for everytime you do it)</p>
    <p>+ 5 points per 'week' <- impose a limit (Will let you click achieve for 12/7 - 12/14)</p>
    <p>Time limit? Before May 1st</p>

    <br />
    <p>Go to the gym twice per week</p>
    <p>Give 3 compliments</p>
    <p>Write 5 papers (divide progress by five? NLP?)</p> -->

    <section class='current'></section>

    <%= render 'events/details_form' %>

    <section class='bucket'></section>

    <br /><br />

</section>