<form accept-charset="UTF-8" action="/events/add_details" class="event-details" method="post" data-remote='true' data-type='json'>
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value="<%= auth_token %>">
    </div>

    <div class="wrap">
        <input type="button" value="I did it!" disabled="">
        <span>contratulations!</span>
        <span class="close">close</span>

        <textarea cols="40" id="event_post" name="event[post]" placeholder="Say a few words about your achievement" rows="5"></textarea>
        
        <input id="event_goal_id" name="event[goal_id]" type="hidden">
        <!-- <input type='submit' value='Add a photo' style='margin: 2px 4px 4px'/> -->
        <input data-disable-with="submitting.." name="commit" type="submit" value="submit">
    </div>

</form>