<h2>My goals this month</h2>
<!-- <h3>%= Time.now.strftime("%B %Y") % (Day %= Time.now().day % of %= Time.now().end_of_month.day%)</h3> -->
<h3>January 2013 (Day 7 of 31)</h3>

<a>Show all months</a>
<!-- %= link_to 'Show all months', current_user %  change this -->

<br /><br />

<ul class='current-goals'></ul>