<h1>Listing goals</h1>

<table id="goals-table">
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th>Points</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Has deadline</th>
    <th>Badge</th>
    <th>Color</th>
    <th>Owner</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Goal</a>