<p class='points'>+<%= goal.points %></p>

<p class='evented' <% if (goal.events_in_month == 0){ %>style='display: none'<% } %> ><%= goal.events_in_month %></p>

<article>
    <header>
        <a href='/goals/<%= goal.parent_id %>' class='goal-name' title='view goal details'><%= goal.name %></a>
        <!-- %= link_to 'Edit', edit_goal_path(goal) %> |
        %= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    </header>
    
    <% if (goal.completed == 0){ %>
        <% if (goal.events_in_month == 0){ %>
            <input class='new_event' type="submit" value="I did it!">
        <% } else { %>
            <input class='new_event' type="submit" value="I did it again!">
        <% } %>
    <% } %>

    <div class='actions'>
        <!-- Can't remove if already completed -->
        <% if (goal.completed == 1){ %>
            <span class='achievement-unlocked'>ACHIEVEMENT UNLOCKED</span>
            <a class='mark-incomplete'>jk I didn't complete this yet</a>
        <% } else { %>
            <a class='mark-complete'>Mark as comleted</a>
        <% } %>
    </div>
</article>