<h3>info</h3>
<p>Stuff</p>
<p>Stuff</p>
<p>Stuff</p>
<p>Stuff</p>
<br /><br /><br /><br /><br />
<center>
    <h3>Add goal to current month</h3>
    <span>(Drag to add)</span>
    <div class='placeholder-badge'>
        <div class='snapped-badge'>
            <img class='logo' src='' />
        </div>
    </div>
</center>