<h1>New user</h1>

<form id="new-user" name="user">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="avatar"> avatar:</label>
    <input type="text" name="avatar" id="avatar" value="<%= avatar %>" >
  </div>

  <div class="field">
    <label for="auto_add"> auto_add:</label>
    <input type="text" name="auto_add" id="auto_add" value="<%= auto_add %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create User" />
  </div>

</form>

<a href="#/index">Back</a>