<div class='avatar' style='background-image: url(<%= user.avatar %>)'></div>

<!-- Add max width to this guy -->
<section>
    <h2><%= user.name %></h2>
    <h3>Level 10</h3>
</section>

<ul>
    <li>
        <h3><%= user.points %></h3>
        <p>total points</p>
    </li>
    <li>
        <h3><%= user.points_this_month %></h3>
        <p>this month</p>
    </li>
</ul>