/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "default";

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    background: url('linedpaper.png');
    color: $fcolor;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}

.header {
    padding: 7px;
    height: 30px;
    background: #FAFAFA;
    margin-bottom: 10px;
    border-bottom: 1px solid $scolor;
    
    h1 {
        font-size: 13px;
        display: inline;
        padding: 5px 10px;
    }

    section {
        width: 960px;
        margin: auto;
        padding: 0px 10px 0px 0px;
    }

    nav {
        float: right;
        margin: 0px;
    }

    ul {
        margin: 0px;
    }

    li {
        float: left;
        margin-left: 10px;
    }
}

.title {
    color: $fcolor;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
    &:hover {
        text-decoration: none;
        color: $lcolor;
        -webkit-transition: color .25s linear;
        transition: color .25s linear;
    }
}


.footer {
    margin: 0px 50px;
    height: 30px;

    ul{
        margin: 0px;
    }

    li {
        float: right;
        padding: 0px 10px;
    }

    p {
        padding: 5px;
        margin: 0px;
    }
}

.container {
    width: 960px;
    margin: auto;
    background: white;
    padding: 10px 30px;
    border: 1px solid $scolor;
    border-radius: 3px;
}

.inline-field {
    float: left;
    margin-right: 10px;
    &.right {
        float: right;
        margin: 0px;
    }
}

input, textarea {
    padding: 5px;
    border: 1px solid $scolor;
    border-radius: 2px;
    background: white;
    font-size: 11px;
}

textarea {
    resize: none;
    font-size: 13px;
}

input[type='submit'], input[type='button'] {
    background: #F0F0F0;
    &:hover {
        cursor: pointer;
        background: darken(#F0F0F0, 5);
    }
    &:disabled:hover {
        background: #F0F0F0;
        cursor: default;
    }
}

a {
    color: $lcolor;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

ul {
    list-style: none;
}

// When an a tag is selected
.selected {
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: none;
        cursor: default;
    }
}

section[role='main'] {
    position: relative;
}

.notifications {
    position: absolute;
    background: #D1EAD2;
    width: 250px;
    margin-left: -135px;
    padding: 10px 20px;
    border: 1px solid #BBD2BC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 6px;
    z-index: 2;
    list-style: none;

    p{
        margin: 0px;
    }
    li {
        padding: 5px 0px;
    }
}
