// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "default";

.badge {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-size: 100%;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    border: 3px solid white;
    margin: 2px 20px 2px 2px;
    float: left;

    &.overlay{
        position: absolute;
        box-shadow: none;
        // border: none;
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
}

.draggable {
    // cursor: move;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}

.goal {
    position: relative;
    overflow: auto;
    margin: 10px 0px 0px;
    // border-radius: 2px;

    // container for header and actions
    article{
        float: left;
        width: 700px;
    }

    // header for goal
    header {
        margin-top: 10px;
    }


    .points {
        font-size: 16px;
        font-weight: bold;
        color: darken(#49D169, 10);
    }

    // name of goal
    .goal-name {
        margin: 10px 10px 0px 0px;
        color: $fcolor;
        font-weight: bold;
        font-size: 1.17em;
    }


    // action links
    .actions {
        margin-top: 15px;
        margin-bottom: 10px;
    }


    .completed {
        position: absolute;
        left: 0px;
        top: 25px;
        margin: 0px;
        font-size: 30px;
        color: #49D169;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        -webkit-transform: rotate(-10deg); 
        z-index: 2;

        width: 75px;
        text-align: center;
    }

    .evented {
        position: absolute;
        margin: 0px;
        color: #BD2C00;
        font-weight: bold;
        z-index: 2;
        background: white;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-size: 22px;
        text-align: center;
        border: 1px solid $scolor;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
        left: 53px;
        top: 53px;
        // -webkit-transform: rotate(10deg);    
    }

    // &:hover {
    //     background: #F5F5F5;
    // }
}


.nested_goals {
    margin-left: 70px;
    .goal {
        margin-top: 0px;
    }
}

.nested-arrow {
    margin: 0px 25px 30px 10px;
    height: 30px;
    width: 30px;
    border-bottom-left-radius: 5px;
    border-left: 3px solid $scolor;
    border-bottom: 3px solid $scolor;
    float: left;
}

// In my bucket
.bucket{
    ul {
        padding: 0px;
    }

    article {
        width: 520px;
    }
}


// Bucket helper
.bucket-helper{
    position: absolute;
    width: 250px;
    height: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid $scolor;
    background: white;
    padding: 10px;
    box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.2);
    right: 200px;
    top: 1000px;

    h3 {
        margin: 0px;
    }
}

.fixed {
    position: fixed;
}

.droppable-receiver {
    width: 100%;  
}

.placeholder-badge{
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: 3px dashed $scolor;
    margin: 15px;
}



// Quick add form
.new_goal{
    float: right;

    // Label for 'Add a goal'
    .goal_name {
        font-size: 1.17em;
        font-weight: bold;
    }

    input[type='submit'] {
        margin-left: 7px;
        margin-right: 0px;
        margin-top: 3px;
        float: right;
        width: 75px;
    }
}

#goal_points {
    width: 50px;
    font-size: 13px;
}

#goal_name {
    width: 300px;
    font-size: 13px;
    margin-bottom: 5px;
}

